@model ABMCURSOSALBARRACIN.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar un curso?</h3>
<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAlumnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadAlumnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCurso" />
        <input type="submit" value="Eliminar" class="btn btn-dark"/>
        <a asp-action="Index" class="btn btn-danger">Volver a la lista</a>
    </form>
</div>
